<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TODO</key>
		<string>START</string>
	</dict>
	<dict>
		<key>TODO</key>
		<string>ADD ENEMY</string>
		<key>OBJECT</key>
		<dict>
			<key>ENEMYDATA</key>
			<array>
				<dict>
					<key>NAME</key>
					<string>Jaco</string>
					<key>START_POSITION</key>
					<string>{650,720}</string>
					<key>END_POSITION</key>
					<string>{640,360}</string>
					<key>DURATION</key>
					<real>2.5</real>
					<key>DELAY</key>
					<integer>0</integer>
					<key>TYPE</key>
					<string>BOSS</string>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Jaco</string>
					<key>START_POSITION</key>
					<string>{660,-100}</string>
					<key>END_POSITION</key>
					<string>{650,340}</string>
					<key>DURATION</key>
					<real>2.5</real>
					<key>DELAY</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Jaco</string>
					<key>START_POSITION</key>
					<string>{1380,380}</string>
					<key>END_POSITION</key>
					<string>{690,530}</string>
					<key>DURATION</key>
					<real>2.5</real>
					<key>DELAY</key>
					<real>0.2</real>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Jaco</string>
					<key>START_POSITION</key>
					<string>{1300,370}</string>
					<key>END_POSITION</key>
					<string>{1000,540}</string>
					<key>DURATION</key>
					<real>2.5</real>
					<key>DELAY</key>
					<real>0.2</real>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Jaco</string>
					<key>START_POSITION</key>
					<string>{1380,400}</string>
					<key>END_POSITION</key>
					<string>{720,520}</string>
					<key>DURATION</key>
					<real>2.5</real>
					<key>DELAY</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Jaco</string>
					<key>START_POSITION</key>
					<string>{1380,490}</string>
					<key>END_POSITION</key>
					<string>{690,360}</string>
					<key>DURATION</key>
					<real>2.5</real>
					<key>DELAY</key>
					<real>0.7</real>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Jaco</string>
					<key>START_POSITION</key>
					<string>{1400,180}</string>
					<key>END_POSITION</key>
					<string>{1080,330}</string>
					<key>DURATION</key>
					<real>2.5</real>
					<key>DELAY</key>
					<real>0.7</real>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Jaco</string>
					<key>START_POSITION</key>
					<string>{1380,90}</string>
					<key>END_POSITION</key>
					<string>{710,340}</string>
					<key>DURATION</key>
					<real>2.5</real>
					<key>DELAY</key>
					<real>0.7</real>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1000,1200}</string>
					<key>END_POSITION</key>
					<string>{640,360}</string>
					<key>DURATION</key>
					<integer>3</integer>
					<key>DELAY</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1500,600}</string>
					<key>END_POSITION</key>
					<string>{1000,500}</string>
					<key>DURATION</key>
					<integer>3</integer>
					<key>DELAY</key>
					<real>6.5</real>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1500,260}</string>
					<key>END_POSITION</key>
					<string>{1050,260}</string>
					<key>DURATION</key>
					<integer>3</integer>
					<key>DELAY</key>
					<real>6.7</real>
					<key>TYPE</key>
					<string>BOSS</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>TODO</key>
		<string>ADD ENEMY</string>
		<key>OBJECT</key>
		<dict>
			<key>ENEMYDATA</key>
			<array>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{940,820}</string>
					<key>END_POSITION</key>
					<string>{600,450}</string>
					<key>DURATION</key>
					<integer>3</integer>
					<key>DELAY</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1380,540}</string>
					<key>END_POSITION</key>
					<string>{960,530}</string>
					<key>DURATION</key>
					<integer>3</integer>
					<key>DELAY</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1380,250}</string>
					<key>END_POSITION</key>
					<string>{940,180}</string>
					<key>DURATION</key>
					<integer>3</integer>
					<key>DELAY</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1120,-100}</string>
					<key>END_POSITION</key>
					<string>{930,180}</string>
					<key>DURATION</key>
					<integer>3</integer>
					<key>DELAY</key>
					<real>1.5</real>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>TODO</key>
		<string>ADD ENEMY</string>
		<key>OBJECT</key>
		<dict>
			<key>ENEMYDATA</key>
			<array>
				<dict>
					<key>NAME</key>
					<string>GoblinRider</string>
					<key>START_POSITION</key>
					<string>{1380,360}</string>
					<key>END_POSITION</key>
					<string>{1024,360}</string>
					<key>DURATION</key>
					<real>2.5</real>
					<key>DELAY</key>
					<integer>0</integer>
					<key>TYPE</key>
					<string>BOSS</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>TODO</key>
		<string>END</string>
	</dict>
</array>
</plist>
