<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TODO</key>
		<string>START</string>
	</dict>
	<dict>
		<key>TODO</key>
		<string>ADD ENEMY</string>
		<key>OBJECT</key>
		<dict>
			<key>ENEMYDATA</key>
			<array>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1300,800}</string>
					<key>END_POSITION</key>
					<string>{700,600}</string>
					<key>DURATION</key>
					<integer>4</integer>
					<key>DELAY</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1100,-100}</string>
					<key>END_POSITION</key>
					<string>{570,130}</string>
					<key>DURATION</key>
					<integer>4</integer>
					<key>DELAY</key>
					<real>0.2</real>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1500,555}</string>
					<key>END_POSITION</key>
					<string>{1130,550}</string>
					<key>DURATION</key>
					<integer>4</integer>
					<key>DELAY</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1500,225}</string>
					<key>END_POSITION</key>
					<string>{1100,230}</string>
					<key>DURATION</key>
					<integer>3</integer>
					<key>DELAY</key>
					<real>0.7</real>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>TODO</key>
		<string>ADD ENEMY</string>
		<key>OBJECT</key>
		<dict>
			<key>ENEMYDATA</key>
			<array>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1100,800}</string>
					<key>END_POSITION</key>
					<string>{850,500}</string>
					<key>DURATION</key>
					<integer>3</integer>
					<key>DELAY</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1500,540}</string>
					<key>END_POSITION</key>
					<string>{1050,300}</string>
					<key>DURATION</key>
					<integer>4</integer>
					<key>DELAY</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1500,-100}</string>
					<key>END_POSITION</key>
					<string>{1000,180}</string>
					<key>DURATION</key>
					<integer>4</integer>
					<key>DELAY</key>
					<real>1.5</real>
				</dict>
				<dict>
					<key>NAME</key>
					<string>Goblin</string>
					<key>START_POSITION</key>
					<string>{1500,800}</string>
					<key>END_POSITION</key>
					<string>{950,470}</string>
					<key>DURATION</key>
					<integer>5</integer>
					<key>DELAY</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>TODO</key>
		<string>END</string>
	</dict>
</array>
</plist>
