<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>APP10013_SS13_0</key>
		<dict>
			<key>frame</key>
			<string>{{2, 470}, {198, 154}}</string>
			<key>offset</key>
			<string>{1, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>APP10013_SS13_1</key>
		<dict>
			<key>frame</key>
			<string>{{202, 314}, {198, 154}}</string>
			<key>offset</key>
			<string>{1, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>APP10013_SS13_2</key>
		<dict>
			<key>frame</key>
			<string>{{2, 314}, {198, 154}}</string>
			<key>offset</key>
			<string>{1, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>APP10013_SS13_3</key>
		<dict>
			<key>frame</key>
			<string>{{202, 158}, {198, 154}}</string>
			<key>offset</key>
			<string>{1, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>APP10013_SS13_4</key>
		<dict>
			<key>frame</key>
			<string>{{2, 158}, {198, 154}}</string>
			<key>offset</key>
			<string>{1, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>APP10013_SS13_5</key>
		<dict>
			<key>frame</key>
			<string>{{202, 2}, {198, 154}}</string>
			<key>offset</key>
			<string>{1, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>APP10013_SS13_6</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {198, 154}}</string>
			<key>offset</key>
			<string>{1, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>APP10013_SS_13_960X640.png</string>
		<key>size</key>
		<string>{512, 1024}</string>
	</dict>
</dict>
</plist>
