<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brick_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{52,51}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{52,51}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>brick_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,65},{66,57}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{66,57}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>brick_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{70,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{70,61}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>brick_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{82,75}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,75}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>brick_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,79}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>brick_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,187},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{52,50}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>brick_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,135},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{52,50}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>brick_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{52,50}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>brick_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,124},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,52}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>brick_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,79},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,54}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>brick_6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{42,28}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>brick_6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,83},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{42,26}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>brick_6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,171},{42,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{42,26}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>brick_6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,143},{42,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{42,26}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>brick_6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,143},{42,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{42,26}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,79},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{13,21}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,109},{15,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{15,19}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,126},{15,17}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{15,17}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,94},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{13,21}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>brick_animation.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e59667e8991e81d84d62429adbb47207$</string>
            <key>textureFileName</key>
            <string>brick_animation.png</string>
        </dict>
    </dict>
</plist>
