<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TabName</key>
		<string>챕터1</string>
		<key>StageInfo</key>
		<array>
			<dict>
				<key>StageLevel</key>
				<integer>1</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>2</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>3</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>4</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>5</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>6</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>7</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>8</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>9</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>10</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TabName</key>
		<string>챕터2</string>
		<key>StageInfo</key>
		<array>
			<dict>
				<key>StageLevel</key>
				<integer>1</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>2</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>3</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>4</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>5</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>6</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>7</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>8</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>9</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>10</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TabName</key>
		<string>챕터3</string>
		<key>StageInfo</key>
		<array>
			<dict>
				<key>StageLevel</key>
				<integer>1</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>2</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>3</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>4</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>5</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>6</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>7</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>8</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>9</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>10</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TabName</key>
		<string>챕터4</string>
		<key>StageInfo</key>
		<array>
			<dict>
				<key>StageLevel</key>
				<integer>1</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>2</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>3</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>4</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>5</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>6</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>7</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>8</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>9</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>10</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TabName</key>
		<string>챕터5</string>
		<key>StageInfo</key>
		<array>
			<dict>
				<key>StageLevel</key>
				<integer>1</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>2</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>3</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>4</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>5</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>6</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>7</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>8</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>9</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>10</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TabName</key>
		<string>EVENT</string>
		<key>StageInfo</key>
		<array>
			<dict>
				<key>StageLevel</key>
				<integer>1</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>2</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>3</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>4</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>5</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>6</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>7</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>8</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>9</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
			<dict>
				<key>StageLevel</key>
				<integer>10</integer>
				<key>StageIcon</key>
				<string></string>
				<key>EnemyImg0</key>
				<string></string>
				<key>EnemyImg1</key>
				<string></string>
				<key>EnemyImg2</key>
				<string></string>
				<key>EnemyImg3</key>
				<string></string>
				<key>EnemyImg4</key>
				<string></string>
				<key>StageJoinBtn</key>
				<string>입장</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
