<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bball_net_back.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 11}, {143, 54}}</string>
			<key>spriteOffset</key>
			<string>{-1, 52}</string>
			<key>spriteSize</key>
			<string>{143, 54}</string>
			<key>spriteSourceSize</key>
			<string>{205, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 366}, {143, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bball_net_front_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 180}</string>
			<key>spriteSourceSize</key>
			<string>{205, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{209, 184}, {205, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bball_net_front_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 180}</string>
			<key>spriteSourceSize</key>
			<string>{205, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 184}, {205, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bball_net_front_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 180}</string>
			<key>spriteSourceSize</key>
			<string>{205, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{209, 2}, {205, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bball_net_front_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 180}</string>
			<key>spriteSourceSize</key>
			<string>{205, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {205, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>