<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>claghorn_eyebrows.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 89}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{4, 24}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 268}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>claghorn_moustache.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{112, 128}, {80, 18}}</string>
			<key>spriteOffset</key>
			<string>{2, -12}</string>
			<key>spriteSize</key>
			<string>{80, 18}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 232}, {80, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>claghorn_mouth.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{124, 140}, {58, 34}}</string>
			<key>spriteOffset</key>
			<string>{3, -32}</string>
			<key>spriteSize</key>
			<string>{58, 34}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 232}, {58, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>claghorn_normal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 22}, {252, 228}}</string>
			<key>spriteOffset</key>
			<string>{-1, -11}</string>
			<key>spriteSize</key>
			<string>{252, 228}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {252, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>claghorn_pupils.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{130, 106}, {44, 8}}</string>
			<key>spriteOffset</key>
			<string>{2, 15}</string>
			<key>spriteSize</key>
			<string>{44, 8}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 252}, {44, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>claghorn_squint.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 22}, {252, 228}}</string>
			<key>spriteOffset</key>
			<string>{-1, -11}</string>
			<key>spriteSize</key>
			<string>{252, 228}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 2}, {252, 228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>