<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>320</integer>
		<key>height</key>
		<integer>320</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>explosion5_0000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0001.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0002.png</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0003.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0004.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0005.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0006.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0007.png</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0008.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0009.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0010.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0011.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0012.png</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0013.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0014.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0015.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0016.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0017.png</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0018.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0019.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0020.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>256</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0021.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>256</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0022.png</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>256</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0023.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>256</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>explosion5_0024.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>256</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
	</dict>
</dict>
</plist>
