<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm01_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{569,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,320}}</string>
                <key>sourceSize</key>
                <string>{569,320}</string>
            </dict>
            <key>tm01_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{862,248}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{862,248}}</string>
                <key>sourceSize</key>
                <string>{862,320}</string>
            </dict>
            <key>tm01_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tm01_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94cea5ff58b9e6bfdd73de10f6dc39af$</string>
            <key>textureFileName</key>
            <string>tm01_bg.png</string>
        </dict>
    </dict>
</plist>
