<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>leve1</key>
	<dict>
		<key>1</key>
		<string>1</string>
		<key>2</key>
		<string>1</string>
		<key>3</key>
		<string>1</string>
		<key>4</key>
		<string>9</string>
		<key>5</key>
		<string>1</string>
		<key>6</key>
		<string>1</string>
		<key>7</key>
		<string>1</string>
		<key>8</key>
		<string>1</string>
		<key>9</key>
		<string>1</string>
		<key>10</key>
		<string>9</string>
		<key>11</key>
		<string>1</string>
		<key>12</key>
		<string>1</string>
		<key>13</key>
		<string>1</string>
		<key>14</key>
		<string>1</string>
		<key>15</key>
		<string>1</string>
		<key>16</key>
		<string>1</string>
		<key>17</key>
		<string>1</string>
		<key>18</key>
		<string>9</string>
		<key>19</key>
		<string>2</string>
		<key>20</key>
		<string>2</string>
	</dict>
	<key>leve2</key>
	<dict>
		<key>1</key>
		<string>7</string>
		<key>2</key>
		<string>7</string>
		<key>3</key>
		<string>2</string>
		<key>4</key>
		<string>1</string>
		<key>5</key>
		<string>8</string>
		<key>6</key>
		<string>2</string>
		<key>7</key>
		<string>2</string>
		<key>8</key>
		<string>2</string>
		<key>9</key>
		<string>1</string>
		<key>10</key>
		<string>6</string>
		<key>11</key>
		<string>7</string>
		<key>12</key>
		<string>8</string>
		<key>13</key>
		<string>4</string>
		<key>14</key>
		<string>4</string>
		<key>15</key>
		<string>5</string>
		<key>16</key>
		<string>8</string>
		<key>17</key>
		<string>4</string>
		<key>18</key>
		<string>7</string>
		<key>19</key>
		<string>7</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve3</key>
	<dict>
		<key>1</key>
		<string>4</string>
		<key>2</key>
		<string>4</string>
		<key>3</key>
		<string>4</string>
		<key>4</key>
		<string>8</string>
		<key>5</key>
		<string>1</string>
		<key>6</key>
		<string>1</string>
		<key>7</key>
		<string>4</string>
		<key>8</key>
		<string>2</string>
		<key>9</key>
		<string>2</string>
		<key>10</key>
		<string>2</string>
		<key>11</key>
		<string>2</string>
		<key>12</key>
		<string>8</string>
		<key>13</key>
		<string>2</string>
		<key>14</key>
		<string>1</string>
		<key>15</key>
		<string>1</string>
		<key>16</key>
		<string>1</string>
		<key>17</key>
		<string>2</string>
		<key>18</key>
		<string>2</string>
		<key>19</key>
		<string>2</string>
		<key>20</key>
		<string>8</string>
	</dict>
	<key>leve4</key>
	<dict>
		<key>1</key>
		<string>1</string>
		<key>2</key>
		<string>1</string>
		<key>3</key>
		<string>1</string>
		<key>4</key>
		<string>8</string>
		<key>5</key>
		<string>1</string>
		<key>6</key>
		<string>1</string>
		<key>7</key>
		<string>2</string>
		<key>8</key>
		<string>2</string>
		<key>9</key>
		<string>2</string>
		<key>10</key>
		<string>8</string>
		<key>11</key>
		<string>7</string>
		<key>12</key>
		<string>8</string>
		<key>13</key>
		<string>4</string>
		<key>14</key>
		<string>4</string>
		<key>15</key>
		<string>5</string>
		<key>16</key>
		<string>8</string>
		<key>17</key>
		<string>4</string>
		<key>18</key>
		<string>2</string>
		<key>19</key>
		<string>1</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve5</key>
	<dict>
		<key>1</key>
		<string>1</string>
		<key>2</key>
		<string>1</string>
		<key>3</key>
		<string>1</string>
		<key>4</key>
		<string>8</string>
		<key>5</key>
		<string>1</string>
		<key>6</key>
		<string>2</string>
		<key>7</key>
		<string>2</string>
		<key>8</key>
		<string>2</string>
		<key>9</key>
		<string>9</string>
		<key>10</key>
		<string>2</string>
		<key>11</key>
		<string>7</string>
		<key>12</key>
		<string>7</string>
		<key>13</key>
		<string>7</string>
		<key>14</key>
		<string>7</string>
		<key>15</key>
		<string>7</string>
		<key>16</key>
		<string>6</string>
		<key>17</key>
		<string>4</string>
		<key>18</key>
		<string>2</string>
		<key>19</key>
		<string>1</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve6</key>
	<dict>
		<key>1</key>
		<string>7</string>
		<key>2</key>
		<string>7</string>
		<key>3</key>
		<string>7</string>
		<key>4</key>
		<string>7</string>
		<key>5</key>
		<string>7</string>
		<key>6</key>
		<string>6</string>
		<key>7</key>
		<string>2</string>
		<key>8</key>
		<string>2</string>
		<key>9</key>
		<string>2</string>
		<key>10</key>
		<string>2</string>
		<key>11</key>
		<string>8</string>
		<key>12</key>
		<string>8</string>
		<key>13</key>
		<string>4</string>
		<key>14</key>
		<string>4</string>
		<key>15</key>
		<string>5</string>
		<key>16</key>
		<string>8</string>
		<key>17</key>
		<string>6</string>
		<key>18</key>
		<string>6</string>
		<key>19</key>
		<string>6</string>
		<key>20</key>
		<string>6</string>
	</dict>
	<key>leve7</key>
	<dict>
		<key>1</key>
		<string>2</string>
		<key>2</key>
		<string>2</string>
		<key>3</key>
		<string>2</string>
		<key>4</key>
		<string>2</string>
		<key>5</key>
		<string>8</string>
		<key>6</key>
		<string>7</string>
		<key>7</key>
		<string>7</string>
		<key>8</key>
		<string>7</string>
		<key>9</key>
		<string>6</string>
		<key>10</key>
		<string>6</string>
		<key>11</key>
		<string>3</string>
		<key>12</key>
		<string>3</string>
		<key>13</key>
		<string>3</string>
		<key>14</key>
		<string>3</string>
		<key>15</key>
		<string>3</string>
		<key>16</key>
		<string>5</string>
		<key>17</key>
		<string>4</string>
		<key>18</key>
		<string>2</string>
		<key>19</key>
		<string>1</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve8</key>
	<dict>
		<key>1</key>
		<string>3</string>
		<key>2</key>
		<string>3</string>
		<key>3</key>
		<string>3</string>
		<key>4</key>
		<string>1</string>
		<key>5</key>
		<string>2</string>
		<key>6</key>
		<string>5</string>
		<key>7</key>
		<string>2</string>
		<key>8</key>
		<string>2</string>
		<key>9</key>
		<string>2</string>
		<key>10</key>
		<string>7</string>
		<key>11</key>
		<string>7</string>
		<key>12</key>
		<string>7</string>
		<key>13</key>
		<string>4</string>
		<key>14</key>
		<string>4</string>
		<key>15</key>
		<string>4</string>
		<key>16</key>
		<string>4</string>
		<key>17</key>
		<string>4</string>
		<key>18</key>
		<string>2</string>
		<key>19</key>
		<string>2</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve9</key>
	<dict>
		<key>1</key>
		<string>4</string>
		<key>2</key>
		<string>4</string>
		<key>3</key>
		<string>4</string>
		<key>4</key>
		<string>2</string>
		<key>5</key>
		<string>2</string>
		<key>6</key>
		<string>8</string>
		<key>7</key>
		<string>4</string>
		<key>8</key>
		<string>4</string>
		<key>9</key>
		<string>7</string>
		<key>10</key>
		<string>7</string>
		<key>11</key>
		<string>7</string>
		<key>12</key>
		<string>6</string>
		<key>13</key>
		<string>2</string>
		<key>14</key>
		<string>2</string>
		<key>15</key>
		<string>2</string>
		<key>16</key>
		<string>6</string>
		<key>17</key>
		<string>4</string>
		<key>18</key>
		<string>4</string>
		<key>19</key>
		<string>4</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve10</key>
	<dict>
		<key>1</key>
		<string>2</string>
		<key>2</key>
		<string>2</string>
		<key>3</key>
		<string>2</string>
		<key>4</key>
		<string>8</string>
		<key>5</key>
		<string>6</string>
		<key>6</key>
		<string>6</string>
		<key>7</key>
		<string>6</string>
		<key>8</key>
		<string>6</string>
		<key>9</key>
		<string>8</string>
		<key>10</key>
		<string>7</string>
		<key>11</key>
		<string>7</string>
		<key>12</key>
		<string>3</string>
		<key>13</key>
		<string>3</string>
		<key>14</key>
		<string>3</string>
		<key>15</key>
		<string>5</string>
		<key>16</key>
		<string>7</string>
		<key>17</key>
		<string>6</string>
		<key>18</key>
		<string>2</string>
		<key>19</key>
		<string>2</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve11</key>
	<dict>
		<key>1</key>
		<string>8</string>
		<key>2</key>
		<string>8</string>
		<key>3</key>
		<string>8</string>
		<key>4</key>
		<string>8</string>
		<key>5</key>
		<string>8</string>
		<key>6</key>
		<string>8</string>
		<key>7</key>
		<string>8</string>
		<key>8</key>
		<string>8</string>
		<key>9</key>
		<string>8</string>
		<key>10</key>
		<string>8</string>
		<key>11</key>
		<string>8</string>
		<key>12</key>
		<string>8</string>
		<key>13</key>
		<string>8</string>
		<key>14</key>
		<string>8</string>
		<key>15</key>
		<string>8</string>
		<key>16</key>
		<string>8</string>
		<key>17</key>
		<string>8</string>
		<key>18</key>
		<string>8</string>
		<key>19</key>
		<string>8</string>
		<key>20</key>
		<string>8</string>
	</dict>
	<key>leve12</key>
	<dict>
		<key>1</key>
		<string>7</string>
		<key>2</key>
		<string>7</string>
		<key>3</key>
		<string>6</string>
		<key>4</key>
		<string>6</string>
		<key>5</key>
		<string>4</string>
		<key>6</key>
		<string>4</string>
		<key>7</key>
		<string>4</string>
		<key>8</key>
		<string>4</string>
		<key>9</key>
		<string>4</string>
		<key>10</key>
		<string>6</string>
		<key>11</key>
		<string>7</string>
		<key>12</key>
		<string>8</string>
		<key>13</key>
		<string>4</string>
		<key>14</key>
		<string>4</string>
		<key>15</key>
		<string>4</string>
		<key>16</key>
		<string>4</string>
		<key>17</key>
		<string>4</string>
		<key>18</key>
		<string>6</string>
		<key>19</key>
		<string>6</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve13</key>
	<dict>
		<key>1</key>
		<string>4</string>
		<key>2</key>
		<string>4</string>
		<key>3</key>
		<string>4</string>
		<key>4</key>
		<string>5</string>
		<key>5</key>
		<string>4</string>
		<key>6</key>
		<string>7</string>
		<key>7</key>
		<string>7</string>
		<key>8</key>
		<string>7</string>
		<key>9</key>
		<string>7</string>
		<key>10</key>
		<string>7</string>
		<key>11</key>
		<string>7</string>
		<key>12</key>
		<string>8</string>
		<key>13</key>
		<string>8</string>
		<key>14</key>
		<string>4</string>
		<key>15</key>
		<string>5</string>
		<key>16</key>
		<string>8</string>
		<key>17</key>
		<string>4</string>
		<key>18</key>
		<string>2</string>
		<key>19</key>
		<string>2</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve14</key>
	<dict>
		<key>1</key>
		<string>4</string>
		<key>2</key>
		<string>4</string>
		<key>3</key>
		<string>7</string>
		<key>4</key>
		<string>7</string>
		<key>5</key>
		<string>6</string>
		<key>6</key>
		<string>7</string>
		<key>7</key>
		<string>7</string>
		<key>8</key>
		<string>6</string>
		<key>9</key>
		<string>8</string>
		<key>10</key>
		<string>8</string>
		<key>11</key>
		<string>2</string>
		<key>12</key>
		<string>2</string>
		<key>13</key>
		<string>7</string>
		<key>14</key>
		<string>7</string>
		<key>15</key>
		<string>7</string>
		<key>16</key>
		<string>7</string>
		<key>17</key>
		<string>7</string>
		<key>18</key>
		<string>7</string>
		<key>19</key>
		<string>7</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve15</key>
	<dict>
		<key>1</key>
		<string>7</string>
		<key>2</key>
		<string>7</string>
		<key>3</key>
		<string>7</string>
		<key>4</key>
		<string>7</string>
		<key>5</key>
		<string>7</string>
		<key>6</key>
		<string>7</string>
		<key>7</key>
		<string>7</string>
		<key>8</key>
		<string>7</string>
		<key>9</key>
		<string>7</string>
		<key>10</key>
		<string>7</string>
		<key>11</key>
		<string>7</string>
		<key>12</key>
		<string>6</string>
		<key>13</key>
		<string>7</string>
		<key>14</key>
		<string>7</string>
		<key>15</key>
		<string>7</string>
		<key>16</key>
		<string>7</string>
		<key>17</key>
		<string>7</string>
		<key>18</key>
		<string>7</string>
		<key>19</key>
		<string>7</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve16</key>
	<dict>
		<key>1</key>
		<string>6</string>
		<key>2</key>
		<string>6</string>
		<key>3</key>
		<string>6</string>
		<key>4</key>
		<string>6</string>
		<key>5</key>
		<string>6</string>
		<key>6</key>
		<string>6</string>
		<key>7</key>
		<string>6</string>
		<key>8</key>
		<string>6</string>
		<key>9</key>
		<string>6</string>
		<key>10</key>
		<string>6</string>
		<key>11</key>
		<string>6</string>
		<key>12</key>
		<string>6</string>
		<key>13</key>
		<string>6</string>
		<key>14</key>
		<string>6</string>
		<key>15</key>
		<string>6</string>
		<key>16</key>
		<string>6</string>
		<key>17</key>
		<string>6</string>
		<key>18</key>
		<string>6</string>
		<key>19</key>
		<string>6</string>
		<key>20</key>
		<string>6</string>
	</dict>
	<key>leve17</key>
	<dict>
		<key>1</key>
		<string>7</string>
		<key>2</key>
		<string>7</string>
		<key>3</key>
		<string>6</string>
		<key>4</key>
		<string>5</string>
		<key>5</key>
		<string>7</string>
		<key>6</key>
		<string>7</string>
		<key>7</key>
		<string>6</string>
		<key>8</key>
		<string>5</string>
		<key>9</key>
		<string>7</string>
		<key>10</key>
		<string>7</string>
		<key>11</key>
		<string>7</string>
		<key>12</key>
		<string>6</string>
		<key>13</key>
		<string>5</string>
		<key>14</key>
		<string>4</string>
		<key>15</key>
		<string>5</string>
		<key>16</key>
		<string>8</string>
		<key>17</key>
		<string>5</string>
		<key>18</key>
		<string>6</string>
		<key>19</key>
		<string>7</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve18</key>
	<dict>
		<key>1</key>
		<string>7</string>
		<key>2</key>
		<string>7</string>
		<key>3</key>
		<string>1</string>
		<key>4</key>
		<string>5</string>
		<key>5</key>
		<string>4</string>
		<key>6</key>
		<string>3</string>
		<key>7</key>
		<string>4</string>
		<key>8</key>
		<string>6</string>
		<key>9</key>
		<string>3</string>
		<key>10</key>
		<string>6</string>
		<key>11</key>
		<string>7</string>
		<key>12</key>
		<string>8</string>
		<key>13</key>
		<string>4</string>
		<key>14</key>
		<string>4</string>
		<key>15</key>
		<string>5</string>
		<key>16</key>
		<string>8</string>
		<key>17</key>
		<string>4</string>
		<key>18</key>
		<string>2</string>
		<key>19</key>
		<string>1</string>
		<key>20</key>
		<string>7</string>
	</dict>
	<key>leve19</key>
	<dict>
		<key>1</key>
		<string>6</string>
		<key>2</key>
		<string>6</string>
		<key>3</key>
		<string>5</string>
		<key>4</key>
		<string>5</string>
		<key>5</key>
		<string>5</string>
		<key>6</key>
		<string>7</string>
		<key>7</key>
		<string>7</string>
		<key>8</key>
		<string>8</string>
		<key>9</key>
		<string>8</string>
		<key>10</key>
		<string>2</string>
		<key>11</key>
		<string>2</string>
		<key>12</key>
		<string>2</string>
		<key>13</key>
		<string>2</string>
		<key>14</key>
		<string>2</string>
		<key>15</key>
		<string>2</string>
		<key>16</key>
		<string>2</string>
		<key>17</key>
		<string>2</string>
		<key>18</key>
		<string>2</string>
		<key>19</key>
		<string>2</string>
		<key>20</key>
		<string>2</string>
	</dict>
	<key>leve20</key>
	<dict>
		<key>1</key>
		<string>7</string>
		<key>2</key>
		<string>7</string>
		<key>3</key>
		<string>7</string>
		<key>4</key>
		<string>7</string>
		<key>5</key>
		<string>7</string>
		<key>6</key>
		<string>7</string>
		<key>7</key>
		<string>7</string>
		<key>8</key>
		<string>7</string>
		<key>9</key>
		<string>7</string>
		<key>10</key>
		<string>7</string>
		<key>11</key>
		<string>7</string>
		<key>12</key>
		<string>7</string>
		<key>13</key>
		<string>7</string>
		<key>14</key>
		<string>7</string>
		<key>15</key>
		<string>7</string>
		<key>16</key>
		<string>7</string>
		<key>17</key>
		<string>7</string>
		<key>18</key>
		<string>7</string>
		<key>19</key>
		<string>7</string>
		<key>20</key>
		<string>7</string>
	</dict>
</dict>
</plist>
