<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>achievements_flash01.png</key>
		<dict>
			<key>x</key>
			<integer>373</integer>
			<key>y</key>
			<integer>717</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash02.png</key>
		<dict>
			<key>x</key>
			<integer>373</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash03.png</key>
		<dict>
			<key>x</key>
			<integer>373</integer>
			<key>y</key>
			<integer>505</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash04.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>505</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash05.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>187</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash06.png</key>
		<dict>
			<key>x</key>
			<integer>373</integer>
			<key>y</key>
			<integer>187</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash07.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash08.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>293</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash09.png</key>
		<dict>
			<key>x</key>
			<integer>373</integer>
			<key>y</key>
			<integer>611</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash10.png</key>
		<dict>
			<key>x</key>
			<integer>373</integer>
			<key>y</key>
			<integer>823</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash11.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>611</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash12.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>717</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash13.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>823</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>achievements_flash14.png</key>
		<dict>
			<key>x</key>
			<integer>373</integer>
			<key>y</key>
			<integer>293</integer>
			<key>width</key>
			<integer>373</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>373</integer>
			<key>originalHeight</key>
			<integer>106</integer>
		</dict>
		<key>boom_net.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>1</integer>
			<key>height</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-79.5</real>
			<key>offsetY</key>
			<real>76.5</real>
			<key>originalWidth</key>
			<integer>180</integer>
			<key>originalHeight</key>
			<integer>180</integer>
		</dict>
		<key>jiguang_1.png</key>
		<dict>
			<key>x</key>
			<integer>638</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>319</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>331</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>jiguang_2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>94</integer>
			<key>width</key>
			<integer>319</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>331</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>jiguang_3.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>319</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>331</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>jiguang_4.png</key>
		<dict>
			<key>x</key>
			<integer>319</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>319</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>331</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
	</dict>
</dict>
</plist>