<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>fish17_09.png</key>
		<dict>
			<key>x</key>
			<integer>562</integer>
			<key>y</key>
			<integer>281</integer>
			<key>width</key>
			<integer>359</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>fish17_10.png</key>
		<dict>
			<key>x</key>
			<integer>281</integer>
			<key>y</key>
			<integer>562</integer>
			<key>width</key>
			<integer>359</integer>
			<key>height</key>
			<integer>198</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>380</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>yulei1_sun01.png</key>
		<dict>
			<key>x</key>
			<integer>281</integer>
			<key>y</key>
			<integer>281</integer>
			<key>width</key>
			<integer>281</integer>
			<key>height</key>
			<integer>281</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>281</integer>
			<key>originalHeight</key>
			<integer>281</integer>
		</dict>
		<key>yulei1_sun02.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>562</integer>
			<key>width</key>
			<integer>281</integer>
			<key>height</key>
			<integer>281</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>281</integer>
			<key>originalHeight</key>
			<integer>281</integer>
		</dict>
		<key>yulei1_sun03.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>281</integer>
			<key>width</key>
			<integer>281</integer>
			<key>height</key>
			<integer>281</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>281</integer>
			<key>originalHeight</key>
			<integer>281</integer>
		</dict>
		<key>yulei1_sun04.png</key>
		<dict>
			<key>x</key>
			<integer>562</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>281</integer>
			<key>height</key>
			<integer>281</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>281</integer>
			<key>originalHeight</key>
			<integer>281</integer>
		</dict>
		<key>yulei1_sun05.png</key>
		<dict>
			<key>x</key>
			<integer>281</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>281</integer>
			<key>height</key>
			<integer>281</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>281</integer>
			<key>originalHeight</key>
			<integer>281</integer>
		</dict>
		<key>yulei1_sun06.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>281</integer>
			<key>height</key>
			<integer>281</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>281</integer>
			<key>originalHeight</key>
			<integer>281</integer>
		</dict>
	</dict>
</dict>
</plist>