<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>achievement40.png</key>
		<dict>
			<key>x</key>
			<integer>432</integer>
			<key>y</key>
			<integer>198</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement41.png</key>
		<dict>
			<key>x</key>
			<integer>564</integer>
			<key>y</key>
			<integer>66</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement42.png</key>
		<dict>
			<key>x</key>
			<integer>894</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement43.png</key>
		<dict>
			<key>x</key>
			<integer>828</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement44.png</key>
		<dict>
			<key>x</key>
			<integer>762</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement45.png</key>
		<dict>
			<key>x</key>
			<integer>696</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement46.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement47.png</key>
		<dict>
			<key>x</key>
			<integer>432</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement48.png</key>
		<dict>
			<key>x</key>
			<integer>432</integer>
			<key>y</key>
			<integer>66</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement49.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>66</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement50.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement51.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>198</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement52.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement53.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement54.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement55.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement56.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>66</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement57.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement58.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>198</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement59.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement60.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement61.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement62.png</key>
		<dict>
			<key>x</key>
			<integer>564</integer>
			<key>y</key>
			<integer>198</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement63.png</key>
		<dict>
			<key>x</key>
			<integer>564</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement64.png</key>
		<dict>
			<key>x</key>
			<integer>432</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement65.png</key>
		<dict>
			<key>x</key>
			<integer>564</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement66.png</key>
		<dict>
			<key>x</key>
			<integer>432</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement67.png</key>
		<dict>
			<key>x</key>
			<integer>432</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement68.png</key>
		<dict>
			<key>x</key>
			<integer>432</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement69.png</key>
		<dict>
			<key>x</key>
			<integer>498</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement70.png</key>
		<dict>
			<key>x</key>
			<integer>498</integer>
			<key>y</key>
			<integer>66</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement71.png</key>
		<dict>
			<key>x</key>
			<integer>498</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement72.png</key>
		<dict>
			<key>x</key>
			<integer>498</integer>
			<key>y</key>
			<integer>198</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement73.png</key>
		<dict>
			<key>x</key>
			<integer>498</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement74.png</key>
		<dict>
			<key>x</key>
			<integer>498</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement75.png</key>
		<dict>
			<key>x</key>
			<integer>498</integer>
			<key>y</key>
			<integer>396</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement76.png</key>
		<dict>
			<key>x</key>
			<integer>564</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement77.png</key>
		<dict>
			<key>x</key>
			<integer>630</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>boom1.png</key>
		<dict>
			<key>x</key>
			<integer>687</integer>
			<key>y</key>
			<integer>66</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>173</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>57</integer>
			<key>originalHeight</key>
			<integer>174</integer>
		</dict>
		<key>boom2.png</key>
		<dict>
			<key>x</key>
			<integer>630</integer>
			<key>y</key>
			<integer>66</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>158</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>8</real>
			<key>originalWidth</key>
			<integer>57</integer>
			<key>originalHeight</key>
			<integer>174</integer>
		</dict>
		<key>boom3.png</key>
		<dict>
			<key>x</key>
			<integer>630</integer>
			<key>y</key>
			<integer>224</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>172</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>57</integer>
			<key>originalHeight</key>
			<integer>174</integer>
		</dict>
		<key>boom_pao.png</key>
		<dict>
			<key>x</key>
			<integer>564</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>122</integer>
		</dict>
		<key>levelup1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>171</integer>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>levelup2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>114</integer>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>levelup3.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>57</integer>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>levelup4.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>levelup5.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>228</integer>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>levelup6.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>285</integer>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>levelup7.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>342</integer>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>levelup8.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
	</dict>
</dict>
</plist>