<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>256</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>task_reward1bg.png</key>
		<dict>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>111</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish01.png</key>
		<dict>
			<key>x</key>
			<integer>107</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>37</integer>
			<key>height</key>
			<integer>24</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish02.png</key>
		<dict>
			<key>x</key>
			<integer>148</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish04.png</key>
		<dict>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>89</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish07.png</key>
		<dict>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>28</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish10.png</key>
		<dict>
			<key>x</key>
			<integer>107</integer>
			<key>y</key>
			<integer>31</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish20.png</key>
		<dict>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>48</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish30.png</key>
		<dict>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>67</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish35.png</key>
		<dict>
			<key>x</key>
			<integer>148</integer>
			<key>y</key>
			<integer>19</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>29</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish40.png</key>
		<dict>
			<key>x</key>
			<integer>107</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>41</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish50.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>54</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish60.png</key>
		<dict>
			<key>x</key>
			<integer>107</integer>
			<key>y</key>
			<integer>53</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish70.png</key>
		<dict>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish100.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish120.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>31</integer>
			<key>width</key>
			<integer>55</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>taskfish150.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>55</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
	</dict>
</dict>
</plist>