<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>achievement01.png</key>
		<dict>
			<key>x</key>
			<integer>677</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement02.png</key>
		<dict>
			<key>x</key>
			<integer>875</integer>
			<key>y</key>
			<integer>401</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement03.png</key>
		<dict>
			<key>x</key>
			<integer>941</integer>
			<key>y</key>
			<integer>335</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement04.png</key>
		<dict>
			<key>x</key>
			<integer>875</integer>
			<key>y</key>
			<integer>335</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement05.png</key>
		<dict>
			<key>x</key>
			<integer>809</integer>
			<key>y</key>
			<integer>401</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement06.png</key>
		<dict>
			<key>x</key>
			<integer>809</integer>
			<key>y</key>
			<integer>335</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement07.png</key>
		<dict>
			<key>x</key>
			<integer>941</integer>
			<key>y</key>
			<integer>269</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement08.png</key>
		<dict>
			<key>x</key>
			<integer>875</integer>
			<key>y</key>
			<integer>269</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement09.png</key>
		<dict>
			<key>x</key>
			<integer>809</integer>
			<key>y</key>
			<integer>269</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement10.png</key>
		<dict>
			<key>x</key>
			<integer>743</integer>
			<key>y</key>
			<integer>401</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement11.png</key>
		<dict>
			<key>x</key>
			<integer>743</integer>
			<key>y</key>
			<integer>335</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement12.png</key>
		<dict>
			<key>x</key>
			<integer>743</integer>
			<key>y</key>
			<integer>269</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement13.png</key>
		<dict>
			<key>x</key>
			<integer>941</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement14.png</key>
		<dict>
			<key>x</key>
			<integer>875</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement15.png</key>
		<dict>
			<key>x</key>
			<integer>809</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement16.png</key>
		<dict>
			<key>x</key>
			<integer>743</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement17.png</key>
		<dict>
			<key>x</key>
			<integer>677</integer>
			<key>y</key>
			<integer>401</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement18.png</key>
		<dict>
			<key>x</key>
			<integer>677</integer>
			<key>y</key>
			<integer>335</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement19.png</key>
		<dict>
			<key>x</key>
			<integer>677</integer>
			<key>y</key>
			<integer>269</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement20.png</key>
		<dict>
			<key>x</key>
			<integer>677</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement21.png</key>
		<dict>
			<key>x</key>
			<integer>941</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement22.png</key>
		<dict>
			<key>x</key>
			<integer>875</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement23.png</key>
		<dict>
			<key>x</key>
			<integer>809</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement24.png</key>
		<dict>
			<key>x</key>
			<integer>743</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement25.png</key>
		<dict>
			<key>x</key>
			<integer>941</integer>
			<key>y</key>
			<integer>401</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement26.png</key>
		<dict>
			<key>x</key>
			<integer>611</integer>
			<key>y</key>
			<integer>401</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement27.png</key>
		<dict>
			<key>x</key>
			<integer>611</integer>
			<key>y</key>
			<integer>335</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement28.png</key>
		<dict>
			<key>x</key>
			<integer>611</integer>
			<key>y</key>
			<integer>269</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement29.png</key>
		<dict>
			<key>x</key>
			<integer>611</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement30.png</key>
		<dict>
			<key>x</key>
			<integer>611</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement31.png</key>
		<dict>
			<key>x</key>
			<integer>545</integer>
			<key>y</key>
			<integer>401</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement32.png</key>
		<dict>
			<key>x</key>
			<integer>545</integer>
			<key>y</key>
			<integer>335</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement33.png</key>
		<dict>
			<key>x</key>
			<integer>545</integer>
			<key>y</key>
			<integer>269</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement34.png</key>
		<dict>
			<key>x</key>
			<integer>545</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement35.png</key>
		<dict>
			<key>x</key>
			<integer>545</integer>
			<key>y</key>
			<integer>137</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement36.png</key>
		<dict>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>398</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement37.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>398</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement38.png</key>
		<dict>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>332</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>achievement39.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>332</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
		</dict>
		<key>zhuangpan_jl_10.png</key>
		<dict>
			<key>x</key>
			<integer>213</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>166</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>169</integer>
		</dict>
		<key>zhuangpan_jl_20.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>166</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>169</integer>
		</dict>
		<key>zhuangpan_jl_30.png</key>
		<dict>
			<key>x</key>
			<integer>213</integer>
			<key>y</key>
			<integer>332</integer>
			<key>width</key>
			<integer>166</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>169</integer>
		</dict>
		<key>zhuangpan_jl_60.png</key>
		<dict>
			<key>x</key>
			<integer>213</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>166</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>169</integer>
		</dict>
		<key>zhuangpan_jl_80.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>166</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>169</integer>
		</dict>
		<key>zhuangpan_jl_100.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>338</integer>
			<key>width</key>
			<integer>175</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>169</integer>
		</dict>
		<key>zhuangpan_jl_luckystarfish_cn.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>213</integer>
			<key>height</key>
			<integer>169</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>169</integer>
		</dict>
		<key>zhuangpan_jl_luckystarfish_en.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>169</integer>
			<key>width</key>
			<integer>213</integer>
			<key>height</key>
			<integer>169</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>169</integer>
		</dict>
		<key>zhuangpan_jl_pao_cn.png</key>
		<dict>
			<key>x</key>
			<integer>777</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>232</integer>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>169</integer>
		</dict>
		<key>zhuangpan_jl_pao_en.png</key>
		<dict>
			<key>x</key>
			<integer>545</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>232</integer>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<integer>254</integer>
			<key>originalHeight</key>
			<integer>169</integer>
		</dict>
	</dict>
</dict>
</plist>