<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>girl_08_0011.png</key>
		<dict>
			<key>x</key>
			<integer>883</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_07_0001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_07_0002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_07_0003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>643</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_07_0004.png</key>
		<dict>
			<key>x</key>
			<integer>127</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_07_0005.png</key>
		<dict>
			<key>x</key>
			<integer>127</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_07_0006.png</key>
		<dict>
			<key>x</key>
			<integer>127</integer>
			<key>y</key>
			<integer>643</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_07_0007.png</key>
		<dict>
			<key>x</key>
			<integer>253</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_07_0008.png</key>
		<dict>
			<key>x</key>
			<integer>253</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_07_0009.png</key>
		<dict>
			<key>x</key>
			<integer>253</integer>
			<key>y</key>
			<integer>643</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_07_0010.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_07_0011.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_08_0001.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>643</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_08_0002.png</key>
		<dict>
			<key>x</key>
			<integer>505</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_08_0003.png</key>
		<dict>
			<key>x</key>
			<integer>505</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_08_0004.png</key>
		<dict>
			<key>x</key>
			<integer>505</integer>
			<key>y</key>
			<integer>643</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_08_0005.png</key>
		<dict>
			<key>x</key>
			<integer>631</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_08_0006.png</key>
		<dict>
			<key>x</key>
			<integer>631</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_08_0007.png</key>
		<dict>
			<key>x</key>
			<integer>631</integer>
			<key>y</key>
			<integer>643</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_08_0008.png</key>
		<dict>
			<key>x</key>
			<integer>757</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_08_0009.png</key>
		<dict>
			<key>x</key>
			<integer>757</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>girl_08_0010.png</key>
		<dict>
			<key>x</key>
			<integer>757</integer>
			<key>y</key>
			<integer>643</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>125</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
	</dict>
</dict>
</plist>