<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>crate_break_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{50, 50}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{164, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 142}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>crate_break_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{48, 47}, {68, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 70}</string>
			<key>spriteSourceSize</key>
			<string>{164, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 142}, {68, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>crate_break_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{45, 44}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{164, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 122}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>crate_break_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{41, 39}, {86, 88}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{86, 88}</string>
			<key>spriteSourceSize</key>
			<string>{164, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 104}, {86, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>crate_break_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 34}, {102, 100}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{102, 100}</string>
			<key>spriteSourceSize</key>
			<string>{164, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 2}, {102, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>crate_break_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 21}, {124, 118}}</string>
			<key>spriteOffset</key>
			<string>{5, 2}</string>
			<key>spriteSize</key>
			<string>{124, 118}</string>
			<key>spriteSourceSize</key>
			<string>{164, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 2}, {124, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>crate_break_07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 13}, {140, 138}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{140, 138}</string>
			<key>spriteSourceSize</key>
			<string>{164, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {140, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>