<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>798</integer>
		<key>height</key>
		<integer>114</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>explosion1_0000.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>114</integer>
		</dict>
		<key>explosion1_0001.png</key>
		<dict>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>114</integer>
		</dict>
		<key>explosion1_0002.png</key>
		<dict>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>114</integer>
		</dict>
		<key>explosion1_0003.png</key>
		<dict>
			<key>x</key>
			<integer>390</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>114</integer>
		</dict>
		<key>explosion1_0004.png</key>
		<dict>
			<key>x</key>
			<integer>520</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>114</integer>
		</dict>
		<key>explosion1_0005.png</key>
		<dict>
			<key>x</key>
			<integer>650</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>114</integer>
		</dict>
	</dict>
</dict>
</plist>
