<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>monk_lantern_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {38, 77}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{38, 77}</string>
			<key>spriteSourceSize</key>
			<string>{50, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 2}, {38, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monk_lantern_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {38, 77}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{38, 77}</string>
			<key>spriteSourceSize</key>
			<string>{50, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {38, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monk_lantern_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {38, 77}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{38, 77}</string>
			<key>spriteSourceSize</key>
			<string>{50, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 2}, {38, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monk_lantern_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {38, 77}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{38, 77}</string>
			<key>spriteSourceSize</key>
			<string>{50, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 2}, {38, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monk_lantern_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {38, 75}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{38, 75}</string>
			<key>spriteSourceSize</key>
			<string>{50, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 2}, {38, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
	</dict>
</dict>
</plist>