<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>skeet_bullet.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {10, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{10, 17}</string>
			<key>spriteSourceSize</key>
			<string>{10, 17}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 166}, {10, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skeet_disc_colored.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 58}</string>
			<key>spriteSourceSize</key>
			<string>{128, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{379, 62}, {128, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skeet_disc_white_00.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 146}, {128, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 58}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{379, 2}, {128, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skeet_disc_white_break_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 146}, {128, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 58}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 336}, {128, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skeet_disc_white_break_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{102, 141}, {146, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{146, 68}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 304}, {146, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skeet_disc_white_break_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{88, 133}, {178, 86}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{178, 86}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 248}, {178, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skeet_disc_white_break_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{70, 118}, {208, 114}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{208, 114}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 132}, {208, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skeet_disc_white_break_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{55, 109}, {238, 136}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{238, 136}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 166}, {238, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skeet_disc_white_break_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 96}, {290, 162}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{290, 162}</string>
			<key>spriteSourceSize</key>
			<string>{350, 350}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {290, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>skeet_gun.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 128}</string>
			<key>spriteSourceSize</key>
			<string>{83, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 2}, {83, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
