<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>zombie_walk_0001.png</key>
		<dict>
			<key>x</key>
			<integer>157</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>81</integer>
			<key>originalHeight</key>
			<integer>175</integer>
		</dict>
		<key>zombie_walk_0002.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>79</integer>
			<key>originalHeight</key>
			<integer>175</integer>
		</dict>
		<key>zombie_walk_0003.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>175</integer>
		</dict>
		<key>zombie_walk_0004.png</key>
		<dict>
			<key>x</key>
			<integer>913</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>82</integer>
			<key>originalHeight</key>
			<integer>175</integer>
		</dict>
		<key>zombie_walk_0005.png</key>
		<dict>
			<key>x</key>
			<integer>820</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>175</integer>
		</dict>
		<key>zombie_walk_0006.png</key>
		<dict>
			<key>x</key>
			<integer>722</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>97</integer>
			<key>originalHeight</key>
			<integer>174</integer>
		</dict>
		<key>zombie_walk_0007.png</key>
		<dict>
			<key>x</key>
			<integer>623</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>98</integer>
			<key>originalHeight</key>
			<integer>174</integer>
		</dict>
		<key>zombie_walk_0008.png</key>
		<dict>
			<key>x</key>
			<integer>528</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>originalHeight</key>
			<integer>174</integer>
		</dict>
		<key>zombie_walk_0009.png</key>
		<dict>
			<key>x</key>
			<integer>442</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>174</integer>
		</dict>
		<key>zombie_walk_0010.png</key>
		<dict>
			<key>x</key>
			<integer>370</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>174</integer>
		</dict>
		<key>zombie_walk_0011.png</key>
		<dict>
			<key>x</key>
			<integer>297</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>174</integer>
		</dict>
		<key>zombie_walk_0012.png</key>
		<dict>
			<key>x</key>
			<integer>223</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>174</integer>
		</dict>
		<key>zombie_walk_0013.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>174</integer>
		</dict>
		<key>zombie_walk_0014.png</key>
		<dict>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>174</integer>
		</dict>
		<key>zombie_walk_0015.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>175</integer>
		</dict>
	</dict>
</dict>
</plist>