<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>zombie_walk_0001.png</key>
		<dict>
			<key>x</key>
			<integer>364</integer>
			<key>y</key>
			<integer>490</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0002.png</key>
		<dict>
			<key>x</key>
			<integer>485</integer>
			<key>y</key>
			<integer>490</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0003.png</key>
		<dict>
			<key>x</key>
			<integer>606</integer>
			<key>y</key>
			<integer>490</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0004.png</key>
		<dict>
			<key>x</key>
			<integer>727</integer>
			<key>y</key>
			<integer>490</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0005.png</key>
		<dict>
			<key>x</key>
			<integer>848</integer>
			<key>y</key>
			<integer>490</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0006.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>653</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0007.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>653</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0008.png</key>
		<dict>
			<key>x</key>
			<integer>243</integer>
			<key>y</key>
			<integer>653</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0009.png</key>
		<dict>
			<key>x</key>
			<integer>364</integer>
			<key>y</key>
			<integer>653</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0010.png</key>
		<dict>
			<key>x</key>
			<integer>485</integer>
			<key>y</key>
			<integer>653</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0011.png</key>
		<dict>
			<key>x</key>
			<integer>606</integer>
			<key>y</key>
			<integer>653</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0012.png</key>
		<dict>
			<key>x</key>
			<integer>727</integer>
			<key>y</key>
			<integer>653</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0013.png</key>
		<dict>
			<key>x</key>
			<integer>848</integer>
			<key>y</key>
			<integer>653</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0014.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>816</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_walk_0015.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>816</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_dmg_0001.png</key>
		<dict>
			<key>x</key>
			<integer>848</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_dmg_0002.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>327</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_dmg_0003.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>327</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_dmg_0004.png</key>
		<dict>
			<key>x</key>
			<integer>243</integer>
			<key>y</key>
			<integer>327</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_dmg_0005.png</key>
		<dict>
			<key>x</key>
			<integer>364</integer>
			<key>y</key>
			<integer>327</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_dmg_0006.png</key>
		<dict>
			<key>x</key>
			<integer>485</integer>
			<key>y</key>
			<integer>327</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_dmg_0007.png</key>
		<dict>
			<key>x</key>
			<integer>606</integer>
			<key>y</key>
			<integer>327</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_dmg_0008.png</key>
		<dict>
			<key>x</key>
			<integer>727</integer>
			<key>y</key>
			<integer>327</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_dmg_0009.png</key>
		<dict>
			<key>x</key>
			<integer>848</integer>
			<key>y</key>
			<integer>327</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_dmg_0010.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>490</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_dmg_0011.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>490</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_dmg_0012.png</key>
		<dict>
			<key>x</key>
			<integer>243</integer>
			<key>y</key>
			<integer>490</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0002.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0003.png</key>
		<dict>
			<key>x</key>
			<integer>243</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0004.png</key>
		<dict>
			<key>x</key>
			<integer>364</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0005.png</key>
		<dict>
			<key>x</key>
			<integer>485</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0006.png</key>
		<dict>
			<key>x</key>
			<integer>606</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0007.png</key>
		<dict>
			<key>x</key>
			<integer>727</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0008.png</key>
		<dict>
			<key>x</key>
			<integer>848</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0009.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0010.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0011.png</key>
		<dict>
			<key>x</key>
			<integer>243</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0012.png</key>
		<dict>
			<key>x</key>
			<integer>364</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0013.png</key>
		<dict>
			<key>x</key>
			<integer>485</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0014.png</key>
		<dict>
			<key>x</key>
			<integer>606</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>zombie_attack_0015.png</key>
		<dict>
			<key>x</key>
			<integer>727</integer>
			<key>y</key>
			<integer>164</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
	</dict>
</dict>
</plist>