<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>laser1_01.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>404</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-44.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser1_02.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>371</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-55</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser1_03.png</key>
		<dict>
			<key>x</key>
			<integer>356</integer>
			<key>y</key>
			<integer>369</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-57.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser1_04.png</key>
		<dict>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>364</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-56</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser1_05.png</key>
		<dict>
			<key>x</key>
			<integer>356</integer>
			<key>y</key>
			<integer>442</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-55.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser1_06.png</key>
		<dict>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>430</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-55</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser1_07.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>454</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-56.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser1_08.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>306</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-56</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser1_09.png</key>
		<dict>
			<key>x</key>
			<integer>136</integer>
			<key>y</key>
			<integer>173</integer>
			<key>width</key>
			<integer>17</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-55.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser1_10.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>173</integer>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>14</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-53</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser2_01.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>447</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-74.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser2_02.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>470</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-74.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser2_03.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>173</integer>
			<key>width</key>
			<integer>136</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-62</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser2_04.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>170</integer>
			<key>height</key>
			<integer>173</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser3_01.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>221</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>183</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser3_02.png</key>
		<dict>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>182</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser3_03.png</key>
		<dict>
			<key>x</key>
			<integer>356</integer>
			<key>y</key>
			<integer>187</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>182</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser3_04.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>184</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser3_05.png</key>
		<dict>
			<key>x</key>
			<integer>445</integer>
			<key>y</key>
			<integer>182</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>182</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser3_06.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>182</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>187</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser3_07.png</key>
		<dict>
			<key>x</key>
			<integer>356</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>187</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser3_08.png</key>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>187</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser3_09.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>182</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser3_10.png</key>
		<dict>
			<key>x</key>
			<integer>533</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>182</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser4_01.png</key>
		<dict>
			<key>x</key>
			<integer>620</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>184</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser4_02.png</key>
		<dict>
			<key>x</key>
			<integer>113</integer>
			<key>y</key>
			<integer>404</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>48</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser4_03.png</key>
		<dict>
			<key>x</key>
			<integer>163</integer>
			<key>y</key>
			<integer>173</integer>
			<key>width</key>
			<integer>1</integer>
			<key>height</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>-81.5</real>
			<key>offsetY</key>
			<real>-93.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>192</integer>
		</dict>
		<key>laser5_01.png</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>369</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>85</integer>
		</dict>
		<key>laser6_01.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>221</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>85</integer>
		</dict>
		<key>laser6_02.png</key>
		<dict>
			<key>x</key>
			<integer>141</integer>
			<key>y</key>
			<integer>404</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>85</integer>
		</dict>
		<key>laser6_03.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>404</integer>
			<key>width</key>
			<integer>4</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>85</integer>
		</dict>
		<key>laser7_01.png</key>
		<dict>
			<key>x</key>
			<integer>533</integer>
			<key>y</key>
			<integer>182</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>laser8_01.png</key>
		<dict>
			<key>x</key>
			<integer>533</integer>
			<key>y</key>
			<integer>344</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>laser8_02.png</key>
		<dict>
			<key>x</key>
			<integer>127</integer>
			<key>y</key>
			<integer>404</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-35</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
		<key>laser8_03.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>173</integer>
			<key>width</key>
			<integer>1</integer>
			<key>height</key>
			<integer>1</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>162</integer>
		</dict>
	</dict>
</dict>
</plist>